/*Toda la página*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}

h1,h2,h3{
    font-family: 'Rubik', sans-serif;
}

body{
    width:100%;
    height:100%;
    background-color:black;
}
 
/*SECTION*/
hr{
    width:80%;
    margin:3vh auto;
    border:1px solid lightgreen;
}

section > h1{
    width:80%;
    margin:3vh auto 5vh;
    text-align:center;
    color:white;
}

section > p{
    width:80%;
    margin:3vh auto 1vh;
    text-align:center;
    color:white;
}

section > #actividades{
    display:flex;
    flex-basis:100%;
    flex-flow:column;
    flex-wrap:nowrap;
    justify-content:space-around;
}

section > #actividadesFormacion{
    display:flex;
    flex-basis:100%;
    flex-flow:column;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.opcion{
    position:relative;
    margin:1% auto;
    width:80%;
    background-color:#666;
    border-radius:5px;
}

.opcion img{
    width:100%;
    position:relative;
    filter:brightness(40%);
    border:1px solid lightgreen;
}

.opcion p{
    text-align:center;
    width:80%;
    margin:1vh auto 2vh;
    color:white;
    font-weight:bold;
    font-size:1em;
}

.opcion .textoOpcion{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-basis:100%;
    flex-wrap:wrap;
    flex-flow:column;
}

.textoOpcion > h3{
    text-align:center;
    width:80%;
    margin:2vh auto;
    color:white;
    font-weight:bold;
    font-size:1.2em;
}

.textoOpcion p{
    text-align:center;
    width:100%;
    margin:2vh auto;
    color:white;
    font-weight:bold;
    font-size:1em;
    margin-top:auto;
}

.opcion .textoOpcion form{
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:center;
}

.opcion .textoOpcion form div.fecha{
    width:20%;
    padding:1vh;
    color:white;
    text-align:center;
    background-color:#555;
    border:1px solid lightgreen;
}

.opcion .textoOpcion form div.hora{
    width:70%;
    padding:1vh;
    color:white;
    background-color:#555;
    text-align:center;
    border:1px solid lightgreen;
}

.opcion .textoOpcion form button{
    margin:1vh auto;
}

/*.textoOpcion form div input{
    display:none;
}*/

/*Realizamos la vista de tablets*/
@media all and (min-width:768px) and (max-width:1000px){
    /*SECTION*/
    section > #actividades{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
    }

    section > #actividadesFormacion{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
    }

    .opcion{
        flex-basis:45%;
    }
}

/*Realizamos la vista de ordenador*/
@media all and (min-width:1000px){
    /*SECTION*/
    section > #actividades{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
        margin-bottom:15vh;
    }

    section > h1{
        margin:3vh auto 10vh;
    }

    section > #actividadesFormacion{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
        margin-bottom:15vh;
    }

    .opcion{
        position:relative;
        margin:0;
        width:45%;
        flex-basis:45%;
        height:100%;
        margin-bottom:10vh;
    }

    #actividades > .opcion > img{
        width:40%;
        top:10%;
        left:60%;
        position:relative;
        filter:brightness(100%);
        border:1px solid lightgreen;
    }

    #actividadesFormacion > .opcion > img{
        width:40%;
        top:10%;
        left:60%;
        position:relative;
        filter:brightness(100%);
        border:1px solid lightgreen;
    }

    .opcion > .textoOpcion{
        width:50%;
        height:100%;
        position:absolute;
        top:0;
        left:0%;
        display:flex;
        flex-basis:100%;
        flex-wrap:wrap;
        flex-flow:column;
    }

    .opcion > p{
        width:50%;
        position:absolute;
        bottom:0%;
        left:0%;
        display:flex;
        flex-basis:100%;
        flex-wrap:wrap;
        flex-flow:column;
    }
}