/*Toda la página*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:100%;
    background-color:black;
}

section > h1{
    width:80%;
    margin:2vh auto;
    color:lightgreen;
    text-align:center;
}

section > form{
    align-self:center;
    margin:0 auto;
    width:80%;
    text-align:center;
}

section > form select{
    height:2em;
    width:50%;
    text-align:center;
}

section > div#tabla{
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    margin-top:2vh;
    color:white;
}

div#tabla > div#id{
    width:80%;
    margin:2vh auto 0;
    padding:0.5vh 0;
    text-align:center;
    border:1px solid lightgreen;
    border-bottom:0;
    background-color:#333;
}

div#tabla > div#nombre{
    width:45%;
    margin:0 0 0 auto;
    padding:0.5vh 1em;
    text-align:center;
    border:1px solid lightgreen;
    border-right:0;
    background-color:#333;
}

div#tabla > div#nombre button{
    border:0;
    background-color:transparent;
    color:white;
    text-decoration:underline;
    cursor:pointer;
}

div#tabla > div#opciones{
    width:45%;
    margin:0 auto 0 0;
    padding:0.5vh 1em;
    text-align:center;
    border:1px solid lightgreen;
    border-left:0;
    background-color:#333;
}

div.formulario{
    margin-top:3vh;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
}

div.formulario > h2{
    width:80%;
    margin:2vh auto 1vh;
    text-align:center;
    color:white;
}

div.formulario > form{
    background-color:#555;
    border-radius:5px;
    width:80%;
    margin:0 auto;
    padding:3%;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    color:white;
}

div.formulario > form label{
    width:100%;
    margin:1vh auto;
}

div.formulario > form input{
    width:100%;
    height:2em;
    margin:1vh auto;
    padding:5px;
    border-radius:5px;
}

div.formulario > form button{
    width:10%;
    height:2em;
    margin:1vh 0;
    margin-right:auto;
}

div.formulario > form p{
    width:100%;
    height:2em;
    background-color:white;
    color:black;
    margin:1vh auto;
    padding:0.5em;
    margin-right:auto;
    border-radius:5px;
}

div.formulario > form img{
    height:100px;
    margin:1vh auto;
    
}

div.formulario > form textarea{
    width:100%;
    padding:5px;
    margin:1vh auto;
    border-radius:5px;
}

div.formulario > form div{
    width:100%;
    margin:1vh auto;
    display:flex;
    flex-flow:row;
    flex-wrap:nowrap;
}

div.formulario > form div div:nth-child(1){
    display:block;
    width:30%;
    margin:0;
    padding-top:2vh;
}

div.formulario > form div div{
    width:50%;
    margin-left:0;
}

div.formulario > form div div label{
    width:10%;
    margin:1vh;
}

div.formulario > form div div input{
    width:5%;
    margin:0;
    padding-bottom:0;
}

@media all and (min-width:1000px){
    div#tabla > div#id{
        width:20%;
        margin:0;
        margin-left:auto;
        padding:0.5vh 1em;
        text-align:center;
        border:1px solid lightgreen;
    }
    
    div#tabla > div#nombre{
        width:45%;
        margin:0;
        padding:0.5vh 1em;
        text-align:center;
        border:1px solid lightgreen;
    }
    
    div#tabla > div#nombre button{
        border:0;
        background-color:transparent;
        color:white;
        text-decoration:underline;
        cursor:pointer;
    }
    
    div#tabla > div#opciones{
        width:20%;
        margin:0;
        padding:0.5vh 1em;
        margin-right:auto;
        text-align:center;
        border:1px solid lightgreen;
    }

    div.formulario{
        width:60%;
        margin:2vh auto 0;
    }

    div.formulario > form div div:nth-child(1){
        width:10%;
    }

    div.formulario > form div div label{
        width:5%;
    }
}