/*Toda la página*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:100%;
    background-color:black;
}

/*SECTION*/
hr{
    width:80%;
    margin:3vh auto;
    border:1px solid lightgreen;
}

div#info{
    width:80%;
    margin:0 auto 2vh;
}

#info > h2{
    width:100%;
    margin:3vh auto 1vh;
    text-align:center;
    color:white;
}

#info > div > img{
    border:1px solid lightgreen;
    width:100%;
}

#info > img{
    display:none;
}

#info > div > p{
    color:white;
    width:100%;
    text-align:center;
    margin:0 auto 3vh;
}

div#tarifas > h2{
    color:white;
    width:80%;
    margin:0 auto 2vh;
    text-align:center;
}

.opcion{
    position:relative;
    margin:1% auto;
    width:80%;
}

.opcion img{
    width:100%;
    position:relative;
    filter:brightness(40%);
    border:1px solid lightgreen;
}

.opcion p{
    text-align:center;
    width:80%;
    margin:1vh auto 4vh;
    color:white;
    font-weight:bold;
    font-size:1em;
}

.opcion .textoOpcion{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-basis:100%;
    flex-wrap:wrap;
    flex-flow:column;
}

.textoOpcion > h2{
    text-align:center;
    width:80%;
    margin:auto;
    color:white;
    font-weight:bold;
    font-size:1.2em;
}

#instalaciones{
    position:relative;
    margin:1% auto;
    width:100%;
}

#instalaciones > h2{
    color:white;
    width:80%;
    margin:0 auto 2vh;
    text-align:center;
}

.fotoInstalaciones{
    position:relative;
    margin:1% auto;
    width:80%;
}

.fotoInstalaciones img{
    width:100%;
    position:relative;
    border:1px solid white;
}

div.slider{
    height:100%;
}

.slider div{
    height:100%;
}

.slider img{
    height:100%;
    margin:0;
    border:1px solid lightgreen;
}

.bx-controls-direction{
    display:none;
}

/*Realizamos la vista de tablets*/
@media all and (min-width:768px) and (max-width:1000px){
    /*SECTION*/
    #tarifas{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }

    .opcion{
        flex-basis:45%;
    }

    #instalaciones{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }
}

/*Realizamos la vista de ordenador*/
@media all and (min-width:1000px){
    /*SECTION*/
    #info{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
    }

    #info h2{
        flex-basis:80%;
    }

    #info #infoGeneral{
        flex-basis:45%;
    }

    #info > img{
        display:flex;
        margin:auto auto 0;
        flex-basis:45%;
    }

    #tarifas{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }

    .opcion{
        flex-basis:30%;
    }

    #instalaciones{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }

    .fotoInstalaciones{
        display:flex;
        flex-basis:45%;
        flex-flow:column;
    }
}