/*Toda la página*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:100%;
    background-color:black;
}

/*SECTION*/
hr{
    width:80%;
    margin:3vh auto;
    border:1px solid lightgreen;
}

section{
    display:flex;
    flex-basis:100%;
    flex-flow:column;
}

section > #ubicacion h2{
    color:white;
    text-align:center;
    width:80%;
    margin:1vh auto;
    margin-top:4vh;
}

#ubicacion img{
    display:none;
}

section > #ubicacion p{
    color:white;
    text-align:center;
    width:80%;
    margin:0 auto;
    margin-top:1vh;
}

#contenedor{
    display:flex;
    width:100%;
    margin:3vh auto;
    flex-flow:column;
    flex-wrap:nowrap;
}

#contenedor form{
    display:flex;
    flex-basis:80%;
    width:80%;
    flex-flow:column;
    flex-wrap:nowrap;
    margin:1vh auto;
}

#contenedor form label{
    color:white;
    flex-basis:80%;
    margin:1vh auto;
}

#contenedor form input{
    width:80%;
    align-self:center;
    margin-bottom:2vh;
}

#contenedor form textarea{
    width:80%;
    align-self:center;
    margin-bottom:2vh;
}

/*Realizamos la vista de tablets*/
@media all and (min-width:768px) and (max-width:1000px){
    /*SECTION*/
    label{
        font-size:1.5em;
    }

    button{
        width:20%;
        margin:0 auto;
    }
}

/*Realizamos la vista de ordenador*/
@media all and (min-width:1000px){
    /*SECTION*/
    section{
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:nowrap;
        justify-content:space-around;
    }

    section #ubicacion{
        display:flex;
        flex-basis:45%;
        flex-flow:column;
        justify-content:space-around;
    }

    section #ubicacion img{
        display:flex;
        width:90%;
        flex-basis:80%;
        margin:3vh auto;
    }

    section #contenedor{
        display:flex;
        flex-basis:45%;
        flex-flow:column;
    }
    
    section #contenedor label{
        font-size:1.5em;
    }

    section #contenedor input{
        height:3vh;
    }

    section #contenedor button{
        width:15%;
        margin-left:75%;
    }
}