/*Toda la página*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:100%;
    background-color:black;
}
 /*HEADER*/
 /*Hacemos flex el header*/
header{
    display:flex;
    flex-flow:column;
    flex-basis:100%;
}

/*Le damos un width de 100% a la cabecera para que ocupe todo el ancho de la pantalla*/
#cabecera{
    position:relative;
}

#cabecera > img{
    width:100%;
    position:relative;
    filter:brightness(40%);
}

#cabecera > #textoCabecera{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-basis:100%;
    flex-wrap:wrap;
    flex-flow:column;
}

#textoCabecera > p{
    text-align:center;
    width:80%;
    margin:auto;
    margin-bottom:auto;
    color:white;
    font-weight:bold;
    font-size:1.2em;
}

#textoCabecera > p:nth-child(1){
    margin-bottom:0;
    font-size:1.4em;
}

/*Hacemos flex el nav y lo ponemos en row*/
nav{
    display:flex;
    flex-basis:100%;
    width:100%;
    flex-flow:row;
    background-color:#222;
    border:2px solid black;
    z-index:2;
}

/*Colocamos el icono con una altura de 10vh*/
#icono{
    height:8vh;
    margin-top:1vh;
    margin-right:auto;
    margin-left:1vh;
}

/*Colocamos el div del nav en el centro*/
nav div{
    align-self:center;
    text-align:center;
    flex-basis:80%;
    margin:0 auto;
}

/*Ocultamos el h2 que será el nombre de la empresa*/
nav div h2{
    display:none;
}

/*Hacemos que la barra de busqueda ocupe casi todo el div*/
#buscador{
    align-self:center;
    width:90%;
    padding:1vh 0;
    border-radius:5px;
}

#menu{
    display:none;
}

/*Estilos del menú a desplegar*/
.overlay {
    margin-top:10vh;
    width:0vh;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color:grey;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: lightgreen;
    background-color:grey;
    display: block;
    transition: 0.3s;
    border:1px solid black;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: white;
    background-color:black;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

.abrir{
    opacity:0.5;
    transition:0.5s;
}

.cerrar{
    opacity:1;
    transition:0.5s;
}

/*El menu de hamburguesa lo hacemos flex y con cursor pointer*/
.container{
    display: flex;
    flex-flow:column;
    cursor: pointer;
    border-radius:5px;
    align-self:center;
    margin:1vh;
    margin-left:auto;
    margin-right:1vh;
}

/*Colocamos las barras del menú de hamburguesa*/
.bar1, .bar2, .bar3 {
    width: 5vh;
    height: 1vh;
    background-color:green;
    margin:0.5vh 0.5vh;
    transition: 0.4s;
    border-radius:5px;
}

/*SECTION*/
hr{
    width:80%;
    margin:2vh auto;
    border:1px solid lightgreen;
}

section > h2{
    width:80%;
    margin:0 auto 1vh;
    text-align:center;
    color:white;
}

section > #opciones{
    display:flex;
    flex-basis:100%;
    flex-flow:column;
    flex-wrap:nowrap;
}

#opcion{
    position:relative;
    border:1px solid lightgreen;
    margin:1% auto;
    width:80%;
}

#opcion img{
    width:100%;
    position:relative;
    filter:brightness(40%);
}

#opcion #textoOpcion{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-basis:100%;
    flex-wrap:wrap;
    flex-flow:column;
}

#textoOpcion > h2{
    text-align:center;
    width:80%;
    margin:auto;
    margin-bottom:auto;
    color:white;
    font-weight:bold;
    font-size:1.2em;
}

/*FOOTER*/
/*Hacemos el footer flexible*/
footer{
    margin-top:5vh;
    display:flex;
    flex-basis:100%;
    flex-flow:row;
    background-color:#222;
    border:2px solid black;
    flex-wrap:wrap;
}

/*Hacemos que el enlace a contactos ocupe el 45%*/
footer a{
    flex-basis:20%;
    margin:1vh;
    align-self:center;
    color:lightgreen;
    text-decoration:none;
}

/*Ocultamos la ul contacto*/
footer #contacto{
    display:none;
}

footer #iconoFooter{
    display:flex;
    height:5vh;
    margin:1vh;
    text-align:center;
    justify-content:center;
    align-self:center;
}

/*Hacemos que la ul de las redes sociales ocupe el 45%*/
footer #redesSociales{
    display:flex;
    margin-left:auto;
    flex-basis:30%;
    flex-flow:row;
    flex-wrap:wrap;
    list-style:none;
}

/*Colocamos los li en le centro*/
footer #redesSociales li{
    align-self:center;
    margin-right:1vh;
    margin-top:1vh;
    margin-bottom:0.5vh;
}

/*Al primer li le damos margin-left auto para ponerlos todos los li a la derecha*/
footer #redesSociales li:nth-child(1){
    margin-left:auto;
}

/*Le damos una anchura fija a los iconos de las redes sociales*/
footer #redesSociales li a img{
    width:3vh;
}

/*Realizamos la vista de tablets*/
@media all and (min-width:768px) and (max-width:1000px){
    /*HEADER*/
    /*Le damos una altura fija*/
    #icono{
        height:8vh;
    }

    .overlay{
        margin-top:8vh;
    }

    /*Hacemos flex al div del nav y le decimos que ocupe el 80% colocado en columna*/
    nav div{
        display:flex;
        flex-basis:80%;
        flex-flow:column;
    }

    /*Hacemos que el h2 ocupe el 100% y lo colocamos en el centro*/
    nav div h2{
        font-size:2em;
        color:lightgreen;
        display:flex;
        flex-basis:100%;
        justify-content:center;
    }

    /*Le damos un padding a la barra de busqueda*/
    #buscador{
        padding:0.5em;
    }

    /*Le damos un margin al menú cuando no está checkeado*/
    #hamburguesa:not(:checked) ~ #menu{
        margin-top:8vh
    }

    /*Modificamos las barras del menú de hamburguesa*/
    .bar1, .bar2, .bar3 {
        width: 4vh;
        height: 0.7vh;
        background-color:green;
        margin:0.5vh 0.5vh;
        transition: 0.4s;
        border-radius:5px;
    }

    /*FOOTER*/
    footer > a{
        flex-basis:10%;
    }
}

/*Realizamos la vista de ordenador*/
@media all and (min-width:1000px){
    /*HEADER*/
    /*Colocamos el header en row*/
    header{
        flex-flow:row;
        flex-basis:100%;
        flex-wrap:wrap;
    }

    /*Hacemos que el nav ocupe el 100% y lo colocamos en row*/
    nav{
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:nowrap;
    }

    /*Hacemos que el div del nav ocupe el 80% y lo colocamos en row*/
    nav div{
        display:flex;
        flex-basis:30%;
        color:lightgreen;
        flex-flow:row;
        flex-wrap:nowrap;
        margin-left:10vh;
    }

    /*Quitamos los margin del icono*/
    #icono{
        margin:0;
    }

    /*Hacemos que el h2 del div ocupe el 20%*/
    nav div h2{
        font-size:2em;
        display:flex;
        flex-basis:100%;
        margin:0;

    }

    #menu{
        display:flex;
        flex-basis:60%;
        flex-flow:row;
        flex-wrap:nowrap;
        list-style:none;
        border-left:1px solid gray;
    }
    
    /*Quitamos el menú de hamburguesa*/
    .container{
        display:none;
    }

    /*Colocamos el menú para que ocupe todo el ancho de la pantalla*/
    #hamburguesa:checked ~ #menu{
        height:5vh;
        background-color:rgb(144, 197, 241);
        display:flex;
        flex-basis:100%;
        flex-flow:row;
        flex-wrap:nowrap;
        justify-content:space-around;
    }

    /*Hacemos que cada li ocupe el 20%*/
    #menu li{
        flex-basis:20%;
        text-align:center;
        align-self:center;
        justify-content:space-around;
    }

    /*Le quitamos la decoración al texto del enlace*/
    #menu li a{
        align-self:center;
        text-decoration:none;
        color:lightgreen;
        font-weight:bold;
        font-size:1.1em;
    }
}