/*Toda la página*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}

h1,h2,h3{
    font-family: 'Rubik', sans-serif;
}

body{
    width:100%;
    height:100%;
    background-color:black;
}

/*SECTION*/
hr{
    width:80%;
    margin:3vh auto;
    border:1px solid lightgreen;
}

.contenedor{
    display:flex;
    width:100%;
    margin:5vh auto;
    flex-flow:column;
    flex-wrap:nowrap;
}

.contenedor h2{
    color:white;
    flex-basis:80%;
    text-align:center;
    
}

.contenedor form{
    display:flex;
    flex-basis:80%;
    width:80%;
    flex-flow:row;
    flex-wrap:wrap;
    border:1px solid lightgreen;
    margin:1vh auto;
    padding-top:2vh;
    justify-content:space-around;
    background-color:#555;
}

.contenedor form:nth-child(2){
    margin-bottom:0;
    border-bottom:0;
}

.contenedor form:nth-child(3){
    margin-top:0;
    border-top:0;
}

.contenedor form label{
    color:white;
    flex-basis:80%;
    margin:1vh auto;
}

.contenedor form label#errorCorreo{
    color:red;
    flex-basis:80%;
    margin:1vh auto;
    margin-top:0;
}

.contenedor form input{
    width:80%;
    align-self:center;
    margin-bottom:2vh;
    border-radius:5px;
    height:2em;
}

.contenedor form div{
    width:80%;
    display:flex;
    flex-flow:row;
    flex-wrap:nowrap;
    align-self:center;
    margin-bottom:2vh;
    height:2em;
}

.contenedor form div label{
    color:white;
    flex-basis:90%;
    margin:1vh auto;
}

.contenedor form div input{
    width:15%;
    align-self:center;
    margin-bottom:0;
    border-radius:5px;
}

.contenedor form select{
    width:80%;
    align-self:center;
    margin-bottom:2vh;
}

.contenedor form textarea{
    width:80%;
    align-self:center;
    margin-bottom:2vh;
}

.contenedor form button{
    width:35%;
    margin:1vh auto 2vh;
}

/*Realizamos la vista de tablets*/
@media all and (min-width:768px) and (max-width:1000px){
    /*SECTION*/
    .contenedor form{
        display:flex;
        flex-basis:80%;
        width:80%;
        flex-flow:row;
        flex-wrap:wrap;
        border:1px solid lightgreen;
        margin:1vh auto;
    }

    .contenedor form label{
        color:white;
        flex-basis:15%;
        margin:1vh auto;
    }

    .contenedor form input{
        width:80%;
        align-self:center;
        margin:1vh auto;
    }

    .contenedor form textarea{
        width:80%;
        align-self:center;
        margin:1vh auto;
    }
}

/*Realizamos la vista de ordenador*/
@media all and (min-width:1000px){
    /*SECTION*/
    section{
        display:flex;
        flex-flow:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }

    .contenedor{
        flex-basis:45%;
        justify-content:space-around;
        align-self:flex-start;
    }

    form input{
        height:3vh;
    }
}